{% extends 'base.html.twig' %}

{% block body %}
    Welcome to SoftFund

    {% if is_granted('ROLE_USER') %}
     <a href="{{ path('project_new') }}">Create project</a>
    {% endif %}

{% endblock %}
